.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
.isGreen{
  background: #21C08B;
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  text-align: right;
  list-style: none;
  padding: 0;
  position: absolute;
  margin: 0 0 0 -14px;
  width: 100px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
}