@media screen and (max-width: 600px) {
  .login__container {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}